/*
	** 본인이 그리고 싶은 것을 자유롭게 그려주시면 됩니다.
	애니메이션은 5가지 이상 만들어서 적용해주세요.

	1. background색을 원하는 색으로 넣어주세요.

	2. 새의 몸통을 원하는대로 꾸며주세요.
	- 센터정렬하면서 중앙보다 살짝 더 아래 위치하게 해주세요.

	3. 새의 눈을 꾸며주세요.
	- 가상클래스를 이용하여 눈물 혹은 선글라스 등의 장식도 만들어주세요.

	4. 입을 만들어주세요.

	5. 날개를 만들어주세요.

	6. 가상클래스를 이용하여 꼬리를 만들어주세요.

	7. 애니메이션을 마음껏 걸어주세요.

*/


html, body { height: 100%; }
body {
  background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
  overflow: hidden;
}

/* Boat */

.flag{
    width: 0; height: 0;
      border-top: 50px solid transparent;
      border-right: 45px solid indianred;
    position:relative;
    left:5px;
    top:-75px;
  }

  .stick{
    width:5px;
    height:75px;
    background-color:brown;
    position:relative;
    left:50px;
    top:-125px;
  }

  .mainboat{
    width:100px;
    height:33px;
    background-color: #747171;
    border-radius: 0px 0px 50px 50px;
    position:absolute;

    animation: boat 6s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite alternate;
  }

  .boat{
    position:relative;
    left: 620px;
    top: 620px;
    z-index: 999;
  }
  
  @keyframes boat{
    0%{
      transform:rotate(-30deg) translate3d(0,-25px,0);
      top: 175px;
    }
    25%{
      transform:rotate(0deg) translate3d(0,-10px,0);
      top: 150px
    }
    50%{
      transform:rotate(30deg) translate3d(0,5px,0);
      top: 125px;
    }
    75%{
      transform:rotate(0deg) translate3d(0,-10px,0);
      top: 150px;
    }
    100%{
      transform:rotate(-20deg) translate3d(0,-25px,0);
      top: 175px;
    }
  }

  /* Ocean */

.ocean { 
  height: 5%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  bottom: 0;
  width: 6400px;
  height: 198px;
  animation: wave 6s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 6s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 6s ease -1.25s infinite;
  opacity: 1;
}

.wave:nth-of-type(3) {
    top: -175px;
    animation: wave 3s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 3s ease -1.25s infinite;
    opacity: 1;
  }

  .wave:nth-of-type(4) {
    top: -175px;
    animation: wave 5s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 5s ease -1.25s infinite;
    opacity: 1;
  }

  .wave:nth-of-type(5) {
    top: -175px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
  }

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

#background-wrap {
    bottom: 0;
    left: 0;
    padding-top: 50px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
}

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

/* ANIMATIONS */

.x1 {
    -webkit-animation: animateCloud 35s linear infinite;
    -moz-animation: animateCloud 35s linear infinite;
    animation: animateCloud 35s linear infinite;
    
    -webkit-transform: scale(0.65);
    -moz-transform: scale(0.65);
    transform: scale(0.65);
}

.x2 {
    -webkit-animation: animateCloud 20s linear infinite;
    -moz-animation: animateCloud 20s linear infinite;
    animation: animateCloud 20s linear infinite;
    
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
}

.x3 {
    -webkit-animation: animateCloud 30s linear infinite;
    -moz-animation: animateCloud 30s linear infinite;
    animation: animateCloud 30s linear infinite;
    
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
}

.x4 {
    -webkit-animation: animateCloud 18s linear infinite;
    -moz-animation: animateCloud 18s linear infinite;
    animation: animateCloud 18s linear infinite;
    
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
}

.x5 {
    -webkit-animation: animateCloud 25s linear infinite;
    -moz-animation: animateCloud 25s linear infinite;
    animation: animateCloud 25s linear infinite;
    
    -webkit-transform: scale(0.55);
    -moz-transform: scale(0.55);
    transform: scale(0.55);
}

/* OBJECTS */

.cloud {
    background: #fff;
    background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );
    
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    
    -webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

    height: 120px;
    position: relative;
    width: 350px;
}

.cloud:after, .cloud:before {
    background: #fff;
    content: '';
    position: absolute;
    z-indeX: -1;
}

.cloud:after {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;

    height: 100px;
    left: 50px;
    top: -50px;
    width: 100px;
}

.cloud:before {
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;

    width: 180px;
    height: 180px;
    right: 50px;
    top: -90px;
}

.flying-bird {
    width: 30px;
    height: 6px;
    background: black;
    border-radius: 0px 0px 3px 100%;
    position: relative;
  }
  
  .flying-bird:after {
    content: "";
    display: block;
    height: 5px;
    width: 5px;
    background-color: black;
    right: -5px;
    position: absolute;
    border-radius: 0px 100% 0px 0px;
  }
  
  .flying-bird:before {
    content: "";
    display: block;
    height: 23px;
    width: 15px;
    background-color: black;
    top: 4px;
    right: 1px;
    position: absolute;
    border-radius: 0px 0px 100% 0px;
    transform-origin: 100% 0%;
  transform: rotate(12deg) rotateX(110deg);
    animation: wings 2s infinite;
  }
  
  .flying-bird-container {
    position: absolute;
    top: 100px;
    animation: flying-bird linear 15s infinite;
  }
  
  .flying-bird-container:nth-child(2) {
    top: 150px;
    animation: flying-bird ease-in 15s infinite;
    transform: scale(0.3);
  }
  
  .flying-bird-container:nth-child(3) {
    top: 200px;
    animation: flying-bird linear 15s infinite;
    animation-delay: 0.4s;
  }
  
  .flying-bird-container:nth-child(2) .flying-bird:before {
     animation: wings 1.3s infinite;
  }
  
  
  
  @keyframes wings {
    0% {
      transform: rotate(12deg)rotateX(110deg);
    }
    30% {
      transform: rotate(12deg)rotateX(0deg);
    }
    100% {
      transform: rotate(12deg)rotateX(110deg);
    }
  }
  
  @keyframes flying-bird {
    0% {transform: translateX(-1000px)}
    100% {transform: translateX(2000px)}
  }